<div class="container">
	<h2 class="text-center">Who we are</h2>
	<p class="text-center">Christ Co-workers fellowship of churches is a pentecoastal church based on the five fold mministry. It is founded by Apostle and Prophet Harry Das with their lovely family.</p>
	<h2 class="text-center">What we believe in</h2>
	<p class="text-center">Jesus left alot of instructions and here is one of them.</p>
	<h2 class="text-center">Where we are located</h2>
	<p class="text-center">Kiswa Community Center</p>
	<p class="text-center">Bugolobi, Kampala</p>
</div>