<div class="container">
	<p class="text-center">There is a lot of work to be done int he house of the Lord and one of them is to build the house of the Lord.
	   For a long time we have fellowship to gether and seen GOD move in mighty ways. GOD truly delights in the prosperity of HIS people.
	   It is only right and fitting to see to it that we do accordingly for GOD to bless us. 
	</p>
	<p class="text-center">This is your opportune moment to allow God bless you tremendous ways. Give and you will receive...</p>
	<p class="text-center">There is a lot of work to be done int he house of the Lord and one of them is to build the house of the Lord.
	   For a long time we have fellowship to gether and seen GOD move in mighty ways. GOD truly delights in the prosperity of HIS people.
	   It is only right and fitting to see to it that we do accordingly for GOD to bless us. 
	</p>
	<p class="text-center">This is your opportune moment to allow God bless you tremendous ways. Give and you will receive...</p>
	<p class="text-center">There is a lot of work to be done int he house of the Lord and one of them is to build the house of the Lord.
	   For a long time we have fellowship to gether and seen GOD move in mighty ways. GOD truly delights in the prosperity of HIS people.
	   It is only right and fitting to see to it that we do accordingly for GOD to bless us. 
	</p>
	<p class="text-center">This is your opportune moment to allow God bless you tremendous ways. Give and you will receive...</p>
	<p class="text-center">There is a lot of work to be done int he house of the Lord and one of them is to build the house of the Lord.
	   For a long time we have fellowship to gether and seen GOD move in mighty ways. GOD truly delights in the prosperity of HIS people.
	   It is only right and fitting to see to it that we do accordingly for GOD to bless us. 
	</p>
	<p class="text-center">This is your opportune moment to allow God bless you tremendous ways. Give and you will receive...</p>
	<p class="text-center">There is a lot of work to be done int he house of the Lord and one of them is to build the house of the Lord.
	   For a long time we have fellowship to gether and seen GOD move in mighty ways. GOD truly delights in the prosperity of HIS people.
	   It is only right and fitting to see to it that we do accordingly for GOD to bless us. 
	</p>
	<p class="text-center">This is your opportune moment to allow God bless you tremendous ways. Give and you will receive...</p>
	<p class="text-center">There is a lot of work to be done int he house of the Lord and one of them is to build the house of the Lord.
	   For a long time we have fellowship to gether and seen GOD move in mighty ways. GOD truly delights in the prosperity of HIS people.
	   It is only right and fitting to see to it that we do accordingly for GOD to bless us. 
	</p>
	<p class="text-center">This is your opportune moment to allow God bless you tremendous ways. Give and you will receive...</p>
	<p class="text-center">There is a lot of work to be done int he house of the Lord and one of them is to build the house of the Lord.
	   For a long time we have fellowship to gether and seen GOD move in mighty ways. GOD truly delights in the prosperity of HIS people.
	   It is only right and fitting to see to it that we do accordingly for GOD to bless us. 
	</p>
	<p class="text-center">This is your opportune moment to allow God bless you tremendous ways. Give and you will receive...</p>
	<div class="col-md-4 col-sm-6 pull-right">
		<div class="form-group">
			<label class="control-label">Give</label>
			<div class="input-group">
				<span class="input-group-addon">UGX</span>
				<input type="text" class="form-control">
				<span class="input-group-btn">
					<button type="button" class="btn btn-default">Give</button>
				</span>
			</div>
		</div>
	</div>
</div>