<div class="container">
	<div class="thumbnail col-xs-8">	
		<div id="calendar"></div>
	</div>
	<div class="thumbnail col-xs-4" style="length: 429;">
		<div>
			<h3>HIGHLIGHTS</h3>
		</div>
	</div>
	</div>
</div>