<div class="container">
	<div id="calendar">
		
	</div>
	<div class="thumbnail col-xs-8">	
		<b>Weekly Program</b>
		<table class="table">
			<thead>
				<tr>
					<th>Day of the Week</th>
					<th>What happens?</th>
					<th>From</th>
					<th>To</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td rowspan="4">Sunday</td>
					<td>First service</td>
					<td>8:00am </td>
					<td>10:30am</td>
				</tr>
				<tr>
					<td>Main service</td>
					<td>10:30am</td>
					<td>1:00pm</td>
				</tr>
				<tr>
					<td>Sunday School</td>
					<td>12:00pm </td>
					<td>01:30pm</td>
				</tr>
				<tr>
					<td>Youth fellowship</td>
					<td>01:15pm</td>
					<td>02:30pm</td>
				</tr>
				<tr>
					<td>Monday</td>
					<td>Band practice</td>
					<td>06:00pm</td>
					<td>08:00pm</td>
				</tr>
				<tr>
					<td>Tuesday</td>
					<td>Intercession</td>
					<td>06:00pm</td>
					<td>08:00pm</td>
				</tr>
				<tr>
					<td>Wednesday</td>
					<td>Deborah's concert practice</td>
					<td>06:00pm</td>
					<td>08:00pm</td>
				</tr>
				<tr>
					<td>Thursday</td>
					<td>Choir Practice</td>
					<td>06:00pm</td>
					<td>08:00pm</td>
				</tr>
				<tr>
					<td>Friday</td>
					<td>Youth Leaders' meeting</td>
					<td>06:00pm</td>
					<td>08:00pm</td>
				</tr>
				<tr>
					<td>Saturday</td>
					<td>Choir Practice</td>
					<td>06:00pm</td>
					<td>08:00pm</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="thumbnail col-xs-4" style="length: 429;">
		<div id="carousel-for-events" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-for-events" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-for-events" data-slide-to="1" class=""></li>
			<!-- <li data-target="#carousel" data-slide-to="2" class=""></li> -->
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<img src="/images/images.jpeg" alt="Image">
				<div class="carousel-caption">
					<h3>Some of the events</h3>
					<p>Flowers</p>
				</div>
			</div>
			<div class="item">
				<img src="/images/flowers.jpeg" alt="Flowers">
				<div class="carousel-caption">
					<h3>At the beach</h3>
					<p>More flowers</p>
				</div>
			</div>
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-for-events" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#carousel-for-events" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
	</div>
</div>