<div>
	<div class="container">

	<p>Presbyter Otaala has been given the gift and inspiration to write about different topics in his ministry.</p>
	<p>These include </p>
	<!-- This has to automated to pick information form a database -->
	<div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img data-src="holder.js/300x200" alt="300x200" src="" style="width: 300px; height: 200px;">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>Some text about the book</p>
            <p><a href="/details">Learn more...</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img data-src="holder.js/300x200" alt="300x200" src="" style="width: 300px; height: 200px;">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a href="/details">Learn more...</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img data-src="holder.js/300x200" alt="300x200" src="" style="width: 300px; height: 200px;">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a href="/details">Learn more...</a></p>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>