<div class="container">
	<div>
		<img src="/images/flowers.jpeg" alt="..." class="img-rounded">
		<img src="/images/images.jpeg" alt="..." class="img-circle">
		<img src="/images/flowers.jpeg" alt="..." class="img-thumbnail">
		<img src="/images/images.jpeg" alt="..." class="img-circle">
	</div>
	<hr>
	<div class="row">
  		<div class="col-sm-6 col-md-4">
    		<div class="thumbnail">
      			<img data-src="holder.js/300x200" alt="...">
      			<div class="caption">
        			<h3>This person</h3>
        			<p>he is nice</p>
        			<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-6 col-md-4">
    		<div class="thumbnail">
      			<img data-src="holder.js/300x200" alt="...">
      			<div class="caption">
        			<h3>Image</h3>
        			<p>It is nice</p>
        			<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-6 col-md-4">
    		<div class="thumbnail">
      			<img data-src="holder.js/300x200" alt="...">
      			<div class="caption">
        			<h3>Knock it</h3>
        			<p>hahahahaha</p>
        			<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      			</div>
    		</div>
  		</div>
	</div>
</div>